@model EntityLayer.Concrete.Customer
@{
    ViewData["Title"] = "AddCustomer";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<h1>Yeni Müşteri </h1>

@using (Html.BeginForm("AddCustomer", "Customer", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("Müşteri Adı")
        @Html.TextBoxFor(x=>x.CustomerName, new{@class="form-control"})
        @Html.ValidationMessageFor(x => x.CustomerName, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.Label("Müşteri Soyadı")
        @Html.TextBoxFor(x=>x.CustomerSurname, new{@class="form-control"})
        @Html.ValidationMessageFor(x => x.CustomerSurname, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.Label("Müşteri Maili")
        @Html.TextBoxFor(x=>x.CustomerEmail, new{@class="form-control"})
        @Html.ValidationMessageFor(x => x.CustomerEmail, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.Label("Müşteri Telefonu")
        @Html.TextBoxFor(x=>x.CustomerPhone, new{@class="form-control"})
        @Html.ValidationMessageFor(x => x.CustomerPhone, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.Label("Müşteri Adresi")
        @Html.TextAreaFor(x => x.CustomerAdress, new { @class = "form-control", rows = 4 })
        @Html.ValidationMessageFor(x => x.CustomerAdress, "", new { @class = "text-danger" })
    </div>


    <button class="btn btn-outline-success">Müşteriyi Ekle</button>
}

@*<form method="post">

    <div class="form-group">
        @Html.Label("Müşteri Adı")
        <input type="text" asp-for="CustomerName" class="form-control" />
    </div>
    <div class="form-group">
        @Html.Label("Müşteri Soyadı")
        <input type="text" asp-for="CustomerSurname" class="form-control" />
    </div>
    <div class="form-group">
        @Html.Label("Müşteri Maili")
        <input type="text" asp-for="CustomerEmail" class="form-control" />
    </div>
    <div class="form-group">
        @Html.Label("Müşteri Telefonu")
        <input type="text" asp-for="CustomerPhone" class="form-control" />
    </div>
    <div class="form-group">
        @Html.Label("Müşteri Adresi")
        <input type="text" asp-for="CustomerAdress" class="form-control" />
    </div>
    <button class="btn btn-outline-success">Müşteriyi Ekle</button>
</form>*@